@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.Name;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Hello, @userName!</h2>
    <form asp-action="LogOut" asp-controller="Auth" method="post">
        <button type="submit" class="btn btn-danger">Выйти</button>
    </form>
</div>